mqtt:
  host: 'broker.hivemq.com'
  port: '1883'
  ws_port: '8000'
  root_topic: 'home_auto_xxx'
switches:
  - id: 'main_light'
    name: 'Main Light'
    pin_num: 17
  - id: 'dinner_light'
    name: 'Dinner Light'
    pin_num: 4
#dimmers:
#  - id: 'room_0'
#    name: 'Living room'
#  - id: 'room_1'
#    name: 'Kitchen'
